<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.discotech.contact"
      version="0.1.0">
    <name>Contact</name>
    <description>Phonegap plugin to send Sms, Email or call</description>
    <license>MIT</license>
    <keywords>phonegap,SensSms,</keywords>


    <js-module src="www/ContactUs.js" name="ContactUs">
        <clobbers target="window.sendSms" />      <!--Same as the module.export value-->
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ContactUs">
                <param name="android-package" value="com.discotech.contact.SendSms"/>
            </feature>
        </config-file>

        <source-file src="src/android/Calendar.java" target-dir="src/com/discotech/contact" />      
     </platform>          
</plugin>